root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csproj,props}]
indent_size = 4
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

[*.{xml,config,json}]
indent_size = 2

[*.{md,txt}]
indent_size = 4
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.sh]
indent_size = 4
